<%= form_with(model: [:admin, post], class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-nord11 text-nord4 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border outline-none bg-nord6 text-nord3 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :summary %>
    <%= form.textarea :summary, rows: 4, class: "block shadow rounded-md border outline-none bg-nord6 text-nord3 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :body %>
    <%= form.textarea :body, rows: 4, class: "block shadow rounded-md border outline-none bg-nord6 text-nord3 px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "button" %>
  </div>
<% end %>
