<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 mb-5 bg-nord14 text-nord3 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Posts" %>

  <p>
    <%= link_to "New post", new_admin_post_path, class: "button" %>
  </p>
  <div id="posts" class="min-w-full">
    <% @posts.each do |post| %>
      <%= render "post_card", post: post %>
      <div class="flex flex-row">
        <p>
          <%= link_to "Show", admin_post_path(post), class: "mx-1 button" %>
        </p>
        <p>
          <%= link_to "Edit", edit_admin_post_path(post), class: "mx-1 button" %>
        </p>
        <% if post.published? %>
          <%= button_to "Unpublish", unpublish_admin_post_path(post), method: :patch, class: "mx-1 button" %>
        <% else %>
          <%= button_to "Publish", publish_admin_post_path(post), method: :patch, class: "mx-1 button" %>
        <% end %>
        <%= button_to "Destroy", admin_post_path(post), method: :delete, class: "mx-1 button-danger" %>
      </div>
    <% end %>
  </div>
</div>
