<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 mb-5 bg-nord14 text-nord3 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render "admin/posts/post", post: @post %>

    <%= link_to "Edit this post", edit_admin_post_path(@post), class: "button" %>
    <%= link_to "Back to posts", admin_posts_path, class: "button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this post", admin_post_path(@post), method: :delete, class: "button-danger" %>
    </div>
  </div>
</div>
