<div id="<%= dom_id post %>" class="bg-nord1 rounded-md flex flex-col items-center p-4">
  <h1 class="text-2xl mb-2">
    <%= post.title %>
  </h1>

  <%= render "posts/timestamps", post: post %>

  <p class="my-5 text-justify">
    <%= post.summary %>
  </p>

  <p>
    <%= link_to "Read more", post, class: "button" %>
  </p>
</div>
