<div id="<%= dom_id post %>" class="bg-nord1 rounded-md flex flex-col items-center p-4">
  <h1 class="text-2xl mb-2">
    <%= post.title %>
  </h1>

  <div class="text-xs self-start">
    <strong>Published at:</strong>
    <span><%= post.published_at.to_formatted_s(:date_only) %></span>
  </div>

  <p class="my-5 text-justify">
    <%= post.summary %>
  </p>

  <p>
    <%= link_to "Read more", post, class: "rounded-lg py-2 px-4 inline-block font-medium bg-nord3" %>
  </p>
</div>
